.background-green{
    background-color: lightgreen;
    height:923px;
}
.background-red{
    background-color: lightcoral;
    height:923px;
}
.background-yellow{
    background-color: lightyellow;
    height: 923px;
}
h1 {
    color: black;
    font-family: Chonburi, serif;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    text-shadow: 5px 5px 0 rgba(0,0,0,0.1);
  }
  .icons {
    -moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
    padding: 20px;
}
.transition {
    visibility: hidden;
}

#colors
{
  width: 100%; 
  height: auto;
  position: absolute; 
  z-index: -10; 
  background: linear-gradient(45deg, rgba(66, 135, 245, 0.50), rgba(24, 60, 242, 0.45), rgba(141, 79, 247, 0.45), rgba(127, 57, 247, 0.45), rgba(100, 187, 250, 0.45), rgba(90, 19, 242, 0.45));
  background-size: 600% 100%;
  animation: gradient 16s linear infinite; 
  animation-direction: alternate;  
}
@keyframes gradient
{
  0% {background-position: 0%}
  100% {background-position: 100%}
} 