body {
  margin: 0;
  font-family:'Dosis';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;;
  background-color: #f2f5f7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

svg:hover .red
{
  fill: #FF0000; 
}

svg:hover .yellow
{
  fill: #FFFF00; 
}

svg:hover .green
{
  fill: #00FF00; 
}

svg:hover .grey
{
  fill: grey; 
}

#key
{
  margin-left: 8%;
}

#red
{
  background-color: red; 
}

#yellow
{
  background-color: yellow;
}

h1
{
  color: white;
  text-align: center;
}

#terminal
{
  top: 1%;
  /* margin-top: 2.5%; */ 
  padding: 0px; 
  position:relative;
  transition: transform 150 ms ease-in-out;
  display: inline-block;

}

.base_wrap
{
  position:relative;
  transition: transform 150 ms ease-in-out;
  display: inline-block;
}

.base_wrap svg
{
  position: absolute;
  margin-left: 3%;
  margin-top: 0.2%; 
  left: 0px;
  z-index: 2;
  width: 90%;
  height: auto;
  
}

path
{
  fill-opacity: 65%;
}

.mainBox
{
  display: flex; 
  flex-wrap: wrap;
  flex-direction: column; 

  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -webkit-flex-direction: column; 

  height: 600px; 
  width: 1500px;
}

.row1col1, .row2col1
{
  flex: 0 0 50%; 
  -webkit-flex: 0 0 50%; 

  background: blue; 
}

.row1col2
{
  -webkit-flex: 0 0 100%; 
  flex: 0 0 100%; 

  -webkit-order: 1;
  order: 1; 

  background: pink; 
}

.row2col1
{
  background: yellow; 
}

.block
{
  background-color: pink;
}

.ms-Grid
{
  width: 80%;
  margin-left: 10%;
  background-color: palegreen;

}

table
{
  width: 85%;
  margin-left: 7%;
  table-layout: fixed;
}

.mapCol
{
  width: 50%;
}

.totalWrap
{
  width: 100%; 
  height: auto;
  position: absolute; 
  z-index: -20; 
  background: linear-gradient(45deg, rgba(66, 135, 245, 0.45), rgba(24, 60, 242, 0.45), rgba(141, 79, 247, 0.45), rgba(127, 57, 247, 0.45), rgba(100, 187, 250, 0.45), rgba(90, 19, 242, 0.45));
  background-size: 600% 100%;
  animation: gradient 16s linear infinite; 
  animation-direction: alternate; 
}
@keyframes gradient
{
  0% {background-position: 0%}
  100% {background-position: 100%}
} 
